@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Varela+Round&display=swap');
// Typography
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Varela Round', sans-serif;
$font-family-sans-default: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$body-bg: #f8fafc;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #50c787;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-lightest:  #F4F7F9;
$primary-lighter: #eef1f3;
$primary-light: #e8ebed;
$primary: #e2e5e7;
$primary-dark: #d6d9db;
$primary-darker: #cacdcf;
$primary-darkest: #bec1c3;

$accent-lightest: #a1dbff;
$accent-lighter: #98caff;
$accent-light: #95baff;
$accent: #889EFF;
$accent-dark: #7a8feb;
$accent-darker: #6e7bd7;
$accent-darkest: #6267c3;

$primary-semi_transparent: rgba(41, 40, 40, 0.5);
//$accent : #ec4551;
$full-radius: 9999px;
$white-smoke: #f7f7f7;

