@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800|Roboto:300,400,500');

// Typography
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$font-family-sans-default: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$body-bg: #f8fafc;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #50c787;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary-lightest: #0d8ab2;
$primary-lighter: #1b8ba3;
$primary-light: #1b7c94;
$primary: #1b6d85;
$primary-dark: #1c5d76;
$primary-darker: #1c4e67;
$primary-darkest: #194158;

$accent-lightest: #FFA500;
$accent-lighter: #FFA500;
$accent-light: #FFA500;
$accent: #FFA500;
$accent-dark: #f59e00;
$accent-darker: #eb9400;
$accent-darkest: #e18d00;

$primary-semi_transparent: rgba(27, 109, 133, 0.51);
//$accent : #ec4551;
$full-radius: 9999px;
$white-smoke: #f7f7f7;

