@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Nunito:300,400,600,700|Roboto:300,400,500');

// Typography
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$font-family-sans-default: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$body-bg: #f8fafc;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #50c787;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-lightest: #656464;
$primary-lighter: #515050;
$primary-light: #3d3c3c;
$primary: #292828;
$primary-dark: #1f1e1e;
$primary-darker: #151414;
$primary-darkest: #0b0a0a;

$accent-lightest: #ff3530;
$accent-lighter: #f5332e;
$accent-light: #eb332e;
$accent: #E3342F;
$accent-dark: #cf342f;
$accent-darker: #bb332e;
$accent-darkest: #a7332e;

$primary-semi_transparent: rgba(41, 40, 40, 0.5);
//$accent : #ec4551;
$full-radius: 9999px;
$white-smoke: #f7f7f7;

