@import 'variables';
@import '~normalize.css/normalize';

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

main {
	display: block
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline dotted
}

b, strong {
	font-weight: bolder
}

code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

img {
	border-style: none
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

[type=button], [type=reset], [type=submit], button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox], [type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

template {
	display: none
}

[hidden] {
	display: none
}

html {
	box-sizing: border-box;
	font-family: sans-serif
}

*, ::after, ::before {
	box-sizing: inherit
}

blockquote, dd, dl, figure, hr, pre {
	margin: 0
}

button {
	background: 0 0;
	padding: 0
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}

fieldset {
	margin: 0;
	padding: 0
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0
}

html {
	font-family: $default-font;
	line-height: 1.5
}

*, ::after, ::before {
	border-width: 0;
	border-style: solid;
	border-color: #e2e8f0
}

hr {
	border-top-width: 1px
}

img {
	border-style: solid
}

textarea {
	resize: vertical
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #a0aec0
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	color: #a0aec0
}

input::placeholder, textarea::placeholder {
	color: #a0aec0
}

[role=button], button {
	cursor: pointer
}

table {
	border-collapse: collapse
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit
}

a {
	color: inherit;
	text-decoration: inherit
}

button, input, optgroup, select, textarea {
	padding: 0;
	line-height: inherit;
	color: inherit
}

code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

audio, canvas, embed, iframe, img, object, svg, video {
	//display: block;
	vertical-align: middle
}

img, video {
	max-width: 100%;
	height: auto
}

.container {
	width: 100%
}

.h1, h1 {
	font-size: 2.5rem;
}

.h2, h2 {
	font-size: 2rem;
}

.h3, h3 {
	font-size: 1.75rem;
}

.h4, h4 {
	font-size: 1.5rem;
}

.h5, h5 {
	font-size: 1.25rem;
}

.h6, h6 {
	font-size: 1rem;
}


@import 'helpers';
@import "mixin/buttons";

@include buttons;

.panel, .card {
	border: 2px;
	margin: 0;
	min-height: 100px;
	padding: 10px;
	width: 100%;
}

.panel > .panel-body,
.card > .card-body {
	padding: 20px;
}

.panel-heading,
.card-header {
	color: #2b303d;
	font-size: 30px;
	text-align: center;
}


ul.list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list li {
	margin-top: 10px;
}

.dropdown {
	padding: 0;
	position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #555;
	display: none;
	min-width: 200px;
	position: absolute;
	z-index: 999 !important;
}

.dropdown-content p {
	margin: 0;
}

.dropdown-content p a {
	color: black;
	display: block;
	padding: 12px 16px;
	text-decoration: none;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	display: block;
	padding: 12px 16px;
	text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
	display: block;
}

.radio-container {
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	padding-left: 35px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}

/* Create a custom radio button */
.radio-mark {
	background-color: white;
	border: 2px #c2c2c2 solid;
	border-radius: 50%;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-mark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-mark {
	background-color: $color-primary;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
	content: "";
	display: none;
	position: absolute;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-mark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-mark:after {
	background: white;
	border-radius: 50%;
	height: 13px;
	left: 4px;
	top: 4px;
	width: 13px;
}

.form-input {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	color: #495057;
	display: block;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0.375rem 0.75rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	width: 100%;
}

.form-input::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-input:focus {
	background-color: #fff;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	color: #495057;
	outline: 0;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: inherit;
	opacity: .5
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	color: inherit;
	opacity: .5
}

input::placeholder, textarea::placeholder {
	color: inherit;
	opacity: .5
}

.form-input:disabled, .form-input[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

.container {
	width: 100%
}

select.form-input:not([size]):not([multiple]) {
	height: calc(2.25rem + 2px);
}

select.form-input:focus::-ms-value {
	background-color: #fff;
	color: #495057;
}

.form-input-file,
.form-input-range {
	display: block;
	width: 100%;
}

.was-validated .form-input:valid, .form-input.is-valid {
	border-color: #28a745;
}

.was-validated .form-input:invalid, .form-input.is-invalid {
	border-color: #dc3545;
}

.was-validated .form-input:invalid:focus, .form-input.is-invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-input:invalid ~ .invalid-feedback,
.was-validated .form-input:invalid ~ .invalid-tooltip, .form-input.is-invalid ~ .invalid-feedback,
.form-input.is-invalid ~ .invalid-tooltip {
	display: block;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
	color: #dc3545;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
	display: block;
}

.invalid-feedback {
	color: #dc3545;
	display: none;
	font-size: 80%;
	margin-top: 0.25rem;
	width: 100%;
}

.shadow-ma {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.hover-shadow:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}


.spinner {
	margin: 50px auto 0;
	text-align: center;
	width: 40px;
}

.spinner > span {
	animation: sk-bounce-delay 1.4s infinite ease-in-out both;
	-webkit-animation: sk-bounce-delay 1.4s infinite ease-in-out both;
	background-color: white;
	border-radius: 100%;
	display: inline-block;
	height: 9px;
	width: 9px;
}

.spinner .bounce1 {
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	animation-delay: -0.16s;
}

@keyframes sk-bounce-delay {
	0%, 80%, 100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1.0);
	}
}


ul.inline-list li {
	display: inline-block !important;
}

.pagination {
	border-radius: .25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
}

.page-link {
	background-color: #fff;
	border: 1px solid #dee2e6;
	color: $color-primary;
	display: block;
	line-height: 1.25;
	margin-left: -1px;
	padding: .5rem .75rem;
	position: relative;
}

.page-link:hover {
	background-color: #e9ecef;
	border-color: #dee2e6;
	color: #0e3945;
	text-decoration: none;
	z-index: 2;
}

.page-link:focus {
	box-shadow: 0 0 0 .2rem rgba(27, 109, 133, .25);
	-webkit-box-shadow: 0 0 0 .2rem rgba(27, 109, 133, .25);
	outline: 0;
	z-index: 2;
}

.page-link:not(:disabled):not(.disabled) {
	cursor: pointer
}

.page-item:first-child .page-link {
	border-bottom-left-radius: .25rem;
	border-top-left-radius: .25rem;
	margin-left: 0;
}

.page-item:last-child .page-link {
	border-bottom-right-radius: .25rem;
	border-top-right-radius: .25rem;
}

.page-item.active .page-link {
	background-color: $color-primary;
	border-color: $color-primary;
	color: #fff;
	z-index: 1;
}

.page-item.disabled .page-link {
	background-color: #fff;
	border-color: #dee2e6;
	color: #6c757d;
	cursor: auto;
	pointer-events: none;
}

.pagination-lg .page-link {
	font-size: 1.125rem;
	line-height: 1.5;
	padding: .75rem 1.5rem;
}

.pagination-lg .page-item:first-child .page-link {
	border-bottom-left-radius: .3rem;
	border-top-left-radius: .3rem;
}

.pagination-lg .page-item:last-child .page-link {
	border-bottom-right-radius: .3rem;
	border-top-right-radius: .3rem;
}

.pagination-sm .page-link {
	font-size: .7875rem;
	line-height: 1.5;
	padding: .25rem .5rem;
}

.pagination-sm .page-item:first-child .page-link {
	border-bottom-left-radius: .2rem;
	border-top-left-radius: .2rem;
}

.pagination-sm .page-item:last-child .page-link {
	border-bottom-right-radius: .2rem;
	border-top-right-radius: .2rem;
}

.sliding-down-icon {
	animation-direction: initial;
	-webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
	animation-duration: 2s;
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	animation-iteration-count: infinite;
	animation-name: top-bottom;
	-webkit-animation-name: top-bottom; /* Safari 4.0 - 8.0 */
	position: relative;
}

@-webkit-keyframes top-bottom {
	0% {
		top: 0;
		opacity: 0;
	}

	100% {
		top: 1.75rem;
	}
}

/* Standard syntax */
@keyframes top-bottom {
	0% {
		top: 0;
		opacity: 0;
	}

	100% {
		top: 1.75rem;
	}
}

ul.inline-block li {
	display: inline-block !important;
}

.modal, .modal-background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.modal {
	align-items: center;
	display: none;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 40;
}

.modal.is-active {
	display: flex;
}

.modal-background {
	background-color: rgba(10, 10, 10, 0.86);
}

.modal-content,
.modal-card {
	margin: 0 20px;
	max-height: calc(100vh - 160px);
	overflow: auto;
	position: relative;
	width: 100%;
}

.modal-close {
	background: none;
	height: 40px;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 40px;
}

.modal-card {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 40px);
	overflow: hidden;
}

.modal-card-head,
.modal-card-foot {
	align-items: center;
	background-color: whitesmoke;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-start;
	padding: 20px;
	position: relative;
}

.modal-card-head {
	border-bottom: 1px solid #dbdbdb;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-card-title {
	color: #363636;
	flex-grow: 1;
	flex-shrink: 0;
	font-size: 1.5rem;
	line-height: 1;
}

.modal-card-foot {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px solid #dbdbdb;
}

.modal-card-foot .button:not(:last-child) {
	margin-right: 10px;
}

.modal-card-body {
	-webkit-overflow-scrolling: touch;
	background-color: white;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
	padding: 20px;
}

@mixin label-inactive() {
	font-size: 1.2rem;
	transform: translateY(0);
}

@mixin label-active() {
	font-size: 0.75rem;
	transform: translateY(-14px);
}

$animation-duration: 0.4s;

.form-field-label {
	@include label-active();
	display: block;
	font-weight: normal;
	left: 0;
	margin: 0;
	padding: 18px 12px 0;
	position: absolute;
	top: 0;
	transition: all $animation-duration;
	width: 100%;
}

.form-field-control {
	background: #eee;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.form-field-bar {
	border-bottom: 2px solid $color-primary;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	transform: scaleX(0);
	transition: all $animation-duration;
	width: 1%;
}

.form-field-input,
.form-field-textarea {
	appearance: none;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #999;
	color: #333;
	display: block;
	font-size: 1.2rem;
	margin-top: 24px;
	outline: 0;
	padding: 0 12px 10px 12px;
	width: 100%;

	// IE 10-11
	&:-ms-input-placeholder {
		~ .form-field-label {
			@include label-inactive();
		}
	}

	// All other browsers except Edge
	&:placeholder-shown {
		~ .form-field-label {
			@include label-inactive();
		}
	}

	&:focus {
		~ .form-field-label {
			color: $color-primary;
			@include label-active();
		}

		~ .form-field-bar {
			border-bottom: 2px solid $color-primary;
			transform: scaleX(150);
		}
	}
}

.form-field-textarea {
	height: 150px;
}

.check-container {
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding-left: 35px;
	position: relative;
	user-select: none;
}

.check-container input {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}


.check-mark {
	background-color: white;
	border: 1px #c2c2c2 solid;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.check-mark-machine {
	margin-left: 220px;
}

.check-container:hover input ~ .check-mark {
	background-color: #ccc;
}

.check-container input:checked ~ .check-mark {
	background-color: $color-primary;
}

.check-mark:after {
	content: "";
	display: none;
	position: absolute;
}

.check-container input:checked ~ .check-mark:after {
	display: block;
}

.check-container .check-mark:after {
	border: solid white;
	border-width: 0 3px 3px 0;
	height: 11px;
	left: 6px;
	top: 2.3px;
	transform: rotate(45deg);
	width: 6px;
}

