@import "../toolkits/functions";
@import "flex";

@mixin display {
  @include displayStyle;
  @include flex;
  @include tables;
  @include visibility;
  @include float;
}


@mixin displayStyle {
  $list: 'block', 'flex', 'grid', 'inline', 'inline-block', 'inline-flex', 'table', 'table-row', 'table-cell';
  @include defineClassList($list, null, display);
}


@mixin tables {
  $list: 'auto', 'fixed';
  @include defineClassList($list, table-, table-layout);
}

@mixin visibility {
  @include defineClass(visible, visibility, visible);
  @include defineClass(invisible, visibility, hidden);

  @include defineClass(hidden, display, none);
  @include defineClass(hidden-temp, display, none, null, false);
}

@mixin float {
  $list: 'none', 'right', 'left';
  @include defineClassList($list, float-, float);
}