@import "../toolkits/helpers";

@mixin fonts{
    @include fontStyle;
    @include fontWeight;
}

@mixin fontStyle {
    $font-map: (
        font-sans:(
            property: font-family,
            value: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji")
        ),font-serif:(
            property: font-family,
            value: (Georgia, Cambria, "Times New Roman", Times, serif)
        ),font-mono:(
            property: font-family,
            value: (Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace)
        ),font-primary:(
            property: font-family,
            value: $primary-font
        ),font-secondary:(
            property: font-family,
            value: $secondary-font
        )
    );

    @include defineClassListUsingMap($font-map);
}

@mixin fontWeight {

    $list: 'hairline','thin','light','normal','medium','semibold','bold','extrabold','black';

    @for $i from 1 through length($list){
        $value: 100 * $i;
        @include defineClassWithEvents(unquote("font-"+nth($list, $i)), font-weight, $value);
    }
}
